html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}
#top,
#about-me,
#Stuff,
#earlyLife,
#earlyCareer,
#proCareer {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 400px) {
  h1 {
    font-size: 32px;
  }
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

/* #introPic {
  float: left;
} */

#about-me {
  float: center;
}

#about-me>li {
  padding: 2px;
}

#pro {
  width: auto;
}
