
body {
  font-family: Arial, sans-serif;
  margin: 20;
  padding: 20;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {

  padding: 10px;
  margin-top: 15px;
  max-width: 100%;
  text-align: center;
}
#about{
    text-align: center;

}
#skills{
  text-align: justify;
}

#site-header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}


#Contact .contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

#Contact .contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

#Contact img {
  width: 20px;
  height: 20px;
}


.highlight {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}


 h2 {
  color: #007BFF;
}
#project{
  text-align: justify;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
